# Node modules
node_modules/
pnpm-lock.yaml
package-lock.json
node_modules

# Compiled output
dist/
build/
out/

# Environment files
.env
.env.local
.env.*.local

# Log files
*.log

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Svelte and Tailwind
.svelte-kit/