# Node modules
node_modules/
pnpm-lock.yaml
package-lock.json
node_modules

# Compiled output
dist/
build/
out/

# Environment files
.env
.env.local
.env.*.local

# Log files
*.log

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Configuration files
.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.js

# Svelte and Tailwind
.svelte-kit/
*.svelte
tailwind.config.js
postcss.config.js
svelte.config.js

# Miscellaneous
*.tgz
*.gz
*.zip
*.tar

# Other files
*.swp
*.swo
